#indice {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        background: linear-gradient(
        120deg,
        #ebfff3,
        #e6fff1,
        #ebfff3);
        background-size: 300% 300%;
        padding: 40px;
<<<<<<< HEAD
        margin-bottom: 20px;
=======
        
>>>>>>> e5c3a4c93b09e226242416ed563888c6688f9676
        border-radius: 32px;
        border: 1px solid #eee;

        animation:
        bg-gradient 12s ease-in-out infinite;
    }


    #indice h2 {
        font-size: 2rem;
        font-weight: 700;
        color: #00796b; 
        margin-bottom: 24px;
        padding-bottom: 8px;
        border-bottom: 2px solid #b2dfdb;
    }

    #indice p {
        font-size: 1.125rem; 
        color: #4b5563; 
        margin-bottom: 32px;
        line-height: 1.6;
        max-width: 800px;
    }

    
    #indice ol {
        list-style-type: decimal;
        list-style-position: inside; 
        margin-left: 0;
        padding-left: 0;
    }

    #indice li {
        font-size: 1.125rem; 
        color: #4b5563; 
        margin-bottom: 20px;
        line-height: 1.5;
    }

    #indice li a {
        font-weight: 600; 
        color: #00796b; 
        text-decoration: none;
        transition: color 0.2s ease, border-bottom 0.2s ease;
        border-bottom: 1px solid transparent;
    }

    #indice li a:hover {
        color: #004d40; 
        border-bottom: 1px solid #004d40; 
    }

    @keyframes bg-gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}